/* PictoShare.css */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

.picto-share-animation {
  display: inline-block;
  font-size: 64px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  background: linear-gradient(45deg, #ff5a00, #ff00e1, #008eff, #00ff82);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.1),
    0 0 20px rgba(255, 255, 255, 0.4), 0 20px 30px rgba(255, 255, 255, 0.2);
  animation: pulsate 2s ease-in-out infinite;
}
@media screen and (max-width: 700px) {
  .picto-share-animation {
    font-size: 44px;
  }
}
@keyframes pulsate {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.picto-share-animation span {
  display: inline-block;
  margin-right: 4px;
}

.picto-share-animation .p {
  animation-delay: 0s;
}
.picto-share-animation .i {
  animation-delay: 0.1s;
}
.picto-share-animation .c {
  animation-delay: 0.2s;
}
.picto-share-animation .t {
  animation-delay: 0.3s;
}
.picto-share-animation .o {
  animation-delay: 0.4s;
}
.picto-share-animation .s {
  animation-delay: 0.5s;
}
.picto-share-animation .h {
  animation-delay: 0.6s;
}
.picto-share-animation .a {
  animation-delay: 0.7s;
}
.picto-share-animation .r {
  animation-delay: 0.8s;
}
.picto-share-animation .e {
  animation-delay: 0.9s;
}
